p {
    padding: 1rem;
}

.search-results__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-image {
    margin: 2rem;
    border-radius: 0.5rem;
    float: left;
    width: 15rem;
    height: 10rem; 
    object-fit: cover;
}

.card-image:hover {
    transform: scale(1.2);
}

@media only screen and (max-width: 750px) {
    .images {
      flex: 0 0 45%;
    }
}